#chat{
	height : 82%;
	width : 99%;
	overflow: auto;
	word-wrap : break-word;
	background-image: url('../images/logo.jpg');
	background-position: center;
	background-repeat: no-repeat;
	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
	font-size : 15px;	
	border-radius : 10px;
	position: absolute;
	left:1%;
}

#user_message{
	width : 75%;
	position: absolute;
	left:0%;
	top: 92.3%;
	height: 6.2%;
}


#send_message{
	background: url(../images/s-colr.png);
	position: absolute;
	right: 0.1%;
	bottom: 0.1%;
	border-radius: 5px;
	width: 24%;
	color : white;
	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
	font-size: 18px;
	height: 8%;
}


#title{
	background: url(../images/s-colr.png);
	width: 100%;
	position: relative;
	border-radius:5px;
}

#box_title{
	margin-left: 50px;
	color : #F8F8FF;
	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
	font-size: 30px;
}

#connected_users{
	width: 100%;
	position: absolute;
	height : 82%;
}

#name_connected{
	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
	margin-left: 15px;
	font-size : 20px;
	text-decoration: underline;
	word-wrap : break-word;
}

#users_list{
	list-style-type: none;
	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
	font-size : 12px;
}

ul:before{
	content: url('http://www.showgizmo.com/assets/icons/platforms/android_logo_25px-3d00b3bbd8568cdffd3ccbdf4408a901.png');
}