html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background:url(../images/font2.jpeg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	position:relative;
}


#my_canvas
{
 	cursor: url("../images/CrayonBlack.png"), pointer;
}

#window{
	height: 450px;
	width: 650px;
	top: 13%;
	left: 3%;
	position: absolute;
	border-radius: 10px;
	background: url(../images/windowfont.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
}

#draw_container{
	position: absolute;
	font-size: 20px;
	border-top: 1px solid #B4B2B2;
	background: #B4B2B2;
	top: 70%;
	height: 20%;
	width: 100%;
}

#draw_word{
	position: absolute;
	font-size: 25px;
	color: white;
	font-style: italic;
	top: 6%;
	left: 15%;
}

#answer{
	position: absolute;
	border-top: 1px solid #B4B2B2;
	border-bottom: 1px solid #B4B2B2;
	width: 99.9%;
	height: 20%;
}

#send_answer{
	background: url(../images/s-colr.png);
	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
	margin-left: 15px;
	font-size : 20px;
	color: white;
	border-radius: 5px;
	position: absolute;
	left: 59%;
	top: 34%;
}

#text_answer{
	position: absolute;
	left: 32%;
	top:37%;
	height: 20px;
}

#guess{
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 15%;
	background-color: #B4B2B2;
}

#guess_it{
	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
	margin-left: 10%;
	font-size : 28px;
	color: white;
}

#up{
	height: 15%;
	width: 100%;
	left: 0%;
	top: 0%;
	
}

#down{
	height: 10%;
	width: 100%;
	position: absolute;
	left: 0%;
	top: 90%;
}

#Chat{
	width: 380px;
	height: 450px;
	position: absolute;
	background-color: white;
	border-right: 1px solid #B4B2B2;
	border-bottom: 1px solid #B4B2B2;
	border-top: 1px solid #B4B2B2;
	margin-left: 950px;
	top: 13%;
	z-index: 2;
}

#game{
	width: 600px;
	height: 420px;
	position: absolute;
	border: 1px solid #B4B2B2;
	background-color: white;
	left: 5%;
	top: 15%;
	z-index: 0;
	overflow: hidden;
}

#users{
	width: 45%;
	height: 100%;
	position: absolute;
	background-color: white;
	border: 1px solid #B4B2B2;
	left: -45.6%;
	top: -0.3%;
}

#palette{
	width:100%;
	height:20%;
	position: absolute;
	background-color: white;
	border-top: 1px solid #B4B2B2;
	left: 0%;
	bottom: 0%;
}

#palette2{
	width:30%;
	height:100%;
	position: absolute;
	background-color: white;
	border-left: 1px solid #B4B2B2;
	border-right: 1px solid #B4B2B2;
	left: 70%;
	bottom: 0%;
	z-index: 1;
}

.blue{
	position:absolute;
	top: 20%;
	left: 2%;
	width:40px;
	height:40px;
	background:blue;
}

.red{
	position:absolute;
	top: 20%;
	left: 12%;
	width:40px;
	height:40px;
	background:red;
}

.green{
	position:absolute;
	top: 20%;
	left: 22%;
	width:40px;
	height:40px;
	background:green;
}

.yellow{
	position:absolute;
	top: 20%;
	left: 32%;
	width:40px;
	height:40px;
	background:yellow;
}

.black{
	position:absolute;
	top: 20%;
	left: 42%;
	width:40px;
	height:40px;
	background:black;
}

.purple{
	position:absolute;
	top: 20%;
	left: 52%;
	width:40px;
	height:40px;
	background:purple;
}

.white{
	position:absolute;
	top: 20%;
	left: 62%;
	width:40px;
	height:40px;
	background:white;
}

#width1{
	width: 100px;
	height: 5px;
	background: black;
	position: absolute;
	left: 2%;
	top: 7%;	
}

#width2{
	width: 100px;
	height: 7px;
	background: black;
	position: absolute;
	left: 2%;
	top: 22%;	
}

#width5{
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
	left: 2%;
	top: 40%;
}

#width10{
	width: 100px;
	height: 12px;
	background: black;	
	position: absolute;
	left: 2%;
	top: 67%;
}

.clear{
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	border-radius: 50%;
	float:left;
	height: 65px;
	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
	font-size: 13px;
	margin: 0 30px 30px 0;
	position: absolute;
	left: 61%;
	top: 8%;
	width: 65px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.clear:after{
	color:#e9e6e4;
	content: "";
	display: block;
	font-size: 30px;
	height: 30px;
	text-decoration: none;
	text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
	position: absolute;
	width: 30px;
}

.clear:active{
	background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
	background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.clear:active:after{
	color:#dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
