html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background:url(../images/font2.jpeg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	position:relative;
 	overflow: hidden;
}

#insc{
	position: absolute;
	left: 25%;
	top: 32%;
}

.inscription
{
	position: absolute;
	top: 5%;
	left: 17%;
	font-size : 45px;
	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
	color: black;
}

#inscButton{
	position: absolute;
	background: url(../images/s-colr.png);
  	font-family: Impact, "Courier", Arial, Verdana, sans-serif;
  	margin-left: 15px;
  	font-size : 20px;
  	color: white;
  	border-radius: 5px;
	left: 60%;
	top: 80%;
}

form{
	position: absolute;
	top: 19%;
	left: 33%;
	width: 350px;
	height: 327px;
	border:1px solid #B4B2B2;
	background-color: white;
}

.lien
{
	position :absolute;
	bottom:1%;
	left:1%;
}

.pseudo
{
	width: 120%;
	height: 35px;
}

.pass
{
	position: absolute;
	width:120%;
	top: 130%;
	height: 35px;
}