html, body{
  height: 100%;
  width: 100%;
  background:url(../images/font2.jpeg)  no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  font-family: sans-serif;
  color: white;
}

.switch{
  position: absolute;
  top: 265%; 
  left: 50%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #00bc9c;
  transition: all 0.2s ease;
  border-radius: 25px;
}
  span{
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: white;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
  }
  span:after{
      content: "";
      display: block;
      position: absolute;
      width: 4px;
      height: 12px;
      margin-top: -8px;
      background: white;
      transition: all 0.2s ease;
    }

input[type=radio]{
  display: none;
}

.switch label{
  cursor: pointer;
  color: rgba(#000, .2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}

label[for=yes]{
  position: absolute;
  left: 0px;
  height: 20px;
}

label[for=no]{
  position: absolute;
  right: 0px;
}

#no:checked ~ .switch{
    background: #eb4f37;
}

#no:checked ~ .switch span{
    background: white;
    margin-left: -8px;
}    
#no:checked ~ .switch span:after{
      background: white;
      height: 20px;
      margin-top: -8px;
      margin-left: 8px;
     } 

#yes:checked ~ .switch label[for=yes]{
  color: white;
}

#no:checked ~ .switch label[for=no]{
  color: white;
}

#container{
  position: absolute;
  left: 20%;
  top: 20%;
  background: white;
  width: 60%;
  height: 40%;
  border-radius: 180px;
}

#nb_users{
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 20px;
  text-shadow: 1.2px 1.2px black;
}

#get_user_vote{
  position: absolute;
  top: 310%;
  left: 43%;
  background: url(../images/s-colr.png);
  font-family: Impact, "Courier", Arial, Verdana, sans-serif;
  margin-left: 15px;
  font-size : 20px;
  color: white;
  border-radius: 5px;
  position: absolute;
}